<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>European B.</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/forgot_password.css"/>
    <script src="script/index.js" defer></script>
</head>
<body>
    <header>
        <img class="logo" src="../assets/general/logo.png"/>
    </header>
    <section id="main-section" >
        <!-- first section element -->
        <div id="main-container" class="generic-container">

            <!-- left side image container -->
            <div id="image-container">
            </div>
            <!-- left side image container -->


            <!-- input and button container -->
            <div id="data-container">
                <!-- first block -->
                <img src="../assets/general/logo.png" class="logo" alt="">
                
                <!-- second block -->
                <h1>Esqueceu a senha?</h1>
                <p>
                    Informe o e-mail cadastrado para cirar uma nova senha

                </p>
                
                <!-- third block -->
                <form action="POST">
                        <input type="email" placeholder="E-mail" class="generic-input" required>
                    <button class="generic-button">Receber Código</button>
                </form>   
            </div>


        </div>
        <!-- first section element -->
    </section>
    <footer>

    </footer>
</body>
</html>