<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>European B.</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <script src="script/index.js" defer></script>
</head>
<body>
    <header>
        <img class="logo" src="../assets/general/logo.png"/>
    </header>
    <section id="main-section">
        <div id="login-form-container">
            <div id="login-form-login">
            
            </div>
            <div id="login-form-register">
                <img src="../assets/general/logo.png" width="120px" height="70px" alt="">
                Bem Vindo!
                <p>
                    Entre já em sua conta european bank, utilize suas credenciais!
                </p>
                <form action="POST">

                    <div id="main-login-box">

                        <input type="email" placeholder="E-mail" class="form-input" required>
                        <input type="password" placeholder="Senha" class="form-input" required>
                        <span><input type="checkbox">&ThinSpace; Lembrar de mim <a href="#">esqueceu a senha?</a> </span>
                    </div>
                    <button>Entrar</button>
                </form>
                
                <span id="create-account-button">Não tem conta? <a href="../register_page/register.html">registrar</a></span>
        
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>