<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>European B.</title>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/register.css">
    <script src="script/index.js" defer></script>
</head>
<body>
    <header>
        <img class="logo" src="../assets/general/logo.png"/>
    </header>
    <section id="main-section">
        <div id="login-form-container" class="generic-container">
            <div id="login-form-login">
            
            </div>
            <div id="login-form">
                <img src="../assets/general/logo.png" class="logo">
                <h1>Bem Vindo!</h1>
                <p>
                    Realize seu cadastro no European Bank e experimente os nossos serviços
                </p>
                <form action="POST">

                    <div id="main-login-box">
                        <input type="text" placeholder="Nome" class="generic-input" required/>
                        <input type="email" placeholder="E-mail" class="generic-input" required/>
                        <input type="password" placeholder="Senha" class="generic-input" required/>
                        <input type="password" placeholder="Comfirmar Senha" class="generic-input" required/>
                        <span><input type="checkbox">&ThinSpace; Lembrar de mim</span>
                    </div>
                    <button class="generic-button">Começar
                    </button>
                </form>
                
                <span id="create-account-button">Já tem conta? <a href="../login_page/login.html">Login</a></span>
        
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>