*
{
    margin: 0;
''    --border-one: 7px;
}

body
{
    background-color: rgb(230, 236, 255);
    display: flex;
    flex-direction: column;
}
header
{
    height: 10vh;
}
.logo
{
    width: 100px;
    height: 75px;
    float: left;
}
#main-section
{
    width: 100vw;
    height: 75vh;
    padding: 2% 0;

}
#login-form-container
{
    display: flex;
    flex-direction: row;    
    border-radius: var(--border-one);
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    position: relative;
    margin: auto;
    width: 55%;
    height: 80%;
    min-width: 500px;
    min-height: 200px;
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(175, 175, 175);
}
#login-form-container>div
{
    height: 100%;
    
}
#login-form-login
{
    background-image: url(../../assets/login_page/login-background.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-x: 50%;
    background-position-y: center;
    border-radius: 10px 0 0 10px;
    width: 55%;
    background-color: #eff8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#login-form-register
{
    color: #2a1770;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    font-size: 1.4vw;
    position: relative;
    justify-content: center;
    width: 45%;
    background-color: white;
}
#login-form-register>p
{
    font-size: 0.7vw;
    width: 70%;
    font-weight: 700;
    letter-spacing: 0.05px;
    text-align: center;
}
#login-form-register>form
{
    flex-direction: column;
    align-items: center;
    padding: 3% 0;
    display: flex;
    width: 100%;
}
#login-form-register>img
{
    transform: translateY(-30%);
}
#login-form-register>form>button
{
color: white;
font-weight: 200;
font-size: 0.8vw;
margin: 2%;
width: 80%;
height: 3vw;
border-radius: var(--border-one);
border: none;
background-color: #2a1770;
}
#login-form-register>form>div>input::placeholder
{
    color:rgba(42, 23, 112, 0.7);
    font-weight: 700;
    font-size: 0.8vw;
    text-indent: 3%;
}
#login-form-register>form>input
{
    border-left: 5px solid #2a1770;
    height: 2.5vw;
    background-color: #eff8ff;
}

#main-login-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
}
#login-form-register>form>div>input
{
height: 2.5vw;
border-radius: var(--border-one);
font-weight: 200;
font-size: 0.8vw;
border: none;
margin: 1%;
width: 80%;

box-shadow: 0px 1px 2px 0px gray;
}
#login-form-register>form>div>span
{
    display: flex;
    color: rgba(42, 23, 112, 0.7);
    font-size: 0.8vw;
    width: 80%;

}
footer
{

}

